@import url('https://fonts.googleapis.com/css2?family=REM:wght@600&family=Roboto+Serif:opsz,wght@8..144,300&display=swap'); /*------------------------------------------------------*/
/* Global color and font variables */
:root {
  --background-light: #bdc0c9;
  --background-medium: #7b76ad;
  --background-dark: #000000;
  --dark-blue: rgb(48, 61, 90);
  --section-background: rgb(248, 249, 255);
  --main-background: rgb(247, 250, 253);
  --dark-black: rgb(35, 37, 54);
  --light-grey: rgb(214, 214, 214);
  --almost-white: rgb(248, 250, 255);
  --white: rgb(255, 255, 255);
  --bright-orange: #f1503b;
  --header-yellow: rgb(255, 208, 80);
  /* Global font variables for Headings and logo*/
  --main-heading: 'REM', 'Verdana', sans-serif;

  /* Global font variable for paragraph text */
  --main-paragraph-text: 'Roboto Serif', 'Georgia', serif;
}

/*Global Variables for accessibility features: dark mode and grayscale mode */

/*Grayscale mode in which color palette is composed of shades of grey*/
.grayscale-theme {
  --background-light: #dfdfdf;
  --background-medium: #969696;
  --background-dark: #474747;
  --dark-blue: rgb(61, 61, 61);
  --section-background: rgb(231, 231, 231);
  --main-background: rgb(247, 247, 247);
  --dark-black: rgb(48, 48, 48);
  --light-grey: rgb(189, 189, 189);
  --almost-white: rgb(241, 241, 241);
  --white: rgb(255, 255, 255);
  --bright-orange: #c2c2c2;
}

/*Dark mode in which color palette is composed of shades of grey*/
body.dark-theme {
  --background-light: #bdc0c9;
  --background-medium: #7b76ad;
  --background-dark: #000000;
  --dark-blue: rgb(48, 61, 90);
  --section-background: rgb(248, 249, 255);
  --dark-black: #000000;
  --light-grey: rgb(214, 214, 214);
  --almost-white: #bdc0c9;
  --white: rgb(255, 255, 255);
  --bright-orange: rgb(145, 122, 89);
  --header-yellow: rgb(255, 208, 80);
  --main-background: rgb(96, 90, 105);
  transition: 0.5s;
}

/*Apply a grayscale filter across the whole website*/
.gray-feature {
  filter: grayscale(1);
}

/* Enhanced readability mode with the normal text feature */
.normal-text-feature {
  /*All fonts changed to a legible font
    Fallback font ensures that the font will render*/
  --main-heading: 'Arial', sans-serif;
  --main-paragraph-text: 'Arial', sans-serif;
}

/* CSS to underline all text for Text to speech function */
.underline-all * {
  text-decoration: underline !important;
}

/* CSS to remove underline from all text when Text to speech function is off */
.no-underline * {
  text-decoration: none !important;
}

/*Global CSS for the whole website */

* {
  /* Manages the dimensions of all HTML elements for consistency */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Applies a consistent background color across all pages */
body {
  background-color: var(--main-background);
  padding-top: 70px;
  transition: 0.5s;
}

/* Standardizes header styles for uniform appearance */
h1,
h2,
h3 {
  font-family: var(--main-heading);
  /*Applies a consistent spacing*/
  line-height: 1.8em;
}

/*Lighter weight for paragraph text to emphasize the headers*/
p {
  line-height: 2em;
  font-family: var(--main-paragraph-text);
}

/*zoom in effect with smooth animation when hover on images*/
img {
  transition: all 0.2s ease-out;
}

/*defining the zoom scale */
img:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 1010px) {
  body {
    padding-top: 85px;
  }
}

/*Main navigation menu-bar */

.main-navigation {
  display: flex; /* Add flexbox layout */
  align-items: center; /* Vertically align items in the center */
  justify-content: space-between; /* Add space between items */
  padding: 1.3em 1.5em;
  width: 100%;
  background-color: var(--header-yellow);
  color: var(--almost-white);
  position: fixed;
  top: 0;
  transition: 0.5s;
  z-index: 99;
}

.company-logo {
  font-size: 2em;
  font-weight: 900;
  line-height: 1.4;
  padding: 0.5em 0.5em;
  color: var(--dark-black);
  transition: 0.8s;
  white-space: nowrap;
  flex-grow: 1;
}

/*main font for navigation buttons*/
.main-navigation,
button {
  font-family: var(--main-heading);
}
/* Styles the navigation links container using flexbox, ensuring full width, equal spacing between items, and custom right padding. */
.nav-links ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: auto;
  padding: 0px 70px 0px 0px;
}

/*removing the decorative elements*/
.nav-links li {
  list-style: none;
}

/* spacing between the navigation links*/
.nav-links li a {
  top: 0.4rem;
  display: block;
  font-size: 0.93em;
  padding: 1rem;
  position: relative;
  margin: 0.3em;
  transition: 0.2s;
  color: var(--dark-black);
}

/*adding an hover effect on navigation link*/
.nav-links li a:hover {
  color: var(--background-medium);
  transform: scale(1.2);
}

/*Changing the color of navigation as we scroll*/
.main-navigation.fixed {
  background-color: var(--dark-black);
}

/*changing the color of logo on scroll*/
.main-navigation.fixed .company-logo {
  color: var(--almost-white);
}

/*changing the color of menu items on scroll*/
.main-navigation.fixed ul li a {
  color: var(--almost-white);
  padding-bottom: 1.5em;
}

@media screen and (max-width: 1010px) {
  /*Prevent the company logo from being displayed twice on mobile and tablet devices*/
  .company-logo-scroll-active {
    display: none;
  }
}

/*code for scroll on top button which is not visible on load*/
.scroll-to-top-button {
  position: fixed;
  right: 1em;
  bottom: 1em;
  z-index: 99;
  font-size: 1.2em;
  color: var(--white);
  background-color: var(--dark-black);
  border: 0.11em solid var(--light-grey);
  display: none;
}

/*adding an hover effect*/
.scroll-to-top-button:hover {
  background-color: var(--header-yellow);
  border: 0.11em solid var(--light-grey);
  color: var(--dark-black);
}

/*Global button style*/
button {
  color: var(--almost-white);
  padding: 1.3em 1.3em;
  border-radius: 0.2em;
  background-color: var(--dark-black);
  border: 0;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

/*Global hover animation for buttons*/
button:hover {
  background-color: var(--dark-blue);
  transition: ease-in-out 0.1s;
}

/*Global anchor button style*/
.anchor-button {
  color: var(--almost-white);
  padding: 1.5em 1.5em;
  border-radius: 0.2em;
  background-color: var(--dark-black);
  border: 0;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--main-heading);
  font-size: 0.8em;
}
/*Global anchor hover animation for buttons*/
.anchor-button:hover {
  background-color: var(--header-yellow);
  transition: ease-in-out 0.1s;
  color: var(--dark-black);
}

/*code for accesibility menu*/
.accessibility-dropdown-content {
  position: absolute;
  top: 30%;
  right: 2%;
  /*keeping the button on top*/
  z-index: 99;
  background: var(--dark-black);
}

/*adding an hover effect*/
.accessibility-dropdown-content
  .dropdown-content
  .accessibility-toggle-bar:hover {
  background-color: var(--dark-blue);
}

/*adding background color on hover*/
.accessibility-dropdown-content
  .dropdown-content
  .accessibility-options
  a:hover {
  background: var(--dark-blue);
}

/*keep the position of tool tip align with menu*/
.accessibility-menu-bar {
  position: relative;
}

/*tool tip with a pointing arrow*/
.accessibility-menu-bar::before {
  position: absolute;
  display: none;
  border-radius: 0.16em;
  content: attr(title);
  color: var(--white);
  padding: 1em;
  width: 9em;
  background-color: var(--bright-orange);
  z-index: 99;
  font-size: 0.81em;
}

/* arrow poistion*/
.accessibility-menu-bar::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  display: none;
  color: var(--dark-blue);
  z-index: 99;
  border: 0.41em solid transparent;
}

/*displaying the tooltip*/
.accessibility-menu-bar:hover::before,
.accessibility-menu-bar:hover::after {
  display: block;
}

/*positioning the tooltip*/
.accessibility-menu-bar.tooltip-right:before {
  transform: translateY(-50%);
  top: 115%;
  left: calc(-265%);
}

/*Positioning the arrow*/
.accessibility-menu-bar.tooltip-right:after {
  transform: translateY(-50%);
  top: 70%;
  left: -15%;
  rotate: 180deg;
  border-left-width: 0;
  border-right-color: var(--bright-orange);
}

/*defining the color of the accessibility items*/
.accessibility-dropdown-content i {
  color: var(--almost-white);
}

/*Removing bullet points*/
.accessibility-dropdown-content .dropdown-content {
  list-style: none;
}

/*dropdown menu items*/
.accessibility-dropdown-content .dropdown-content {
  cursor: pointer;
  position: relative;
}

/*spacing between the content*/
.accessibility-dropdown-content .dropdown-content a {
  display: block;
  text-decoration: none;
}

/*the size of icons*/
.accessibility-dropdown-content .dropdown-content .accessibility-options a i {
  font-size: 1em;
  padding: 1em 0 1em 0.85em;
}

/*centering the elements around the icons*/
.accessibility-dropdown-content .dropdown-content .accessibility-toggle-bar i {
  font-size: 1.6em;
  padding: 0.4em 0.2em;
}

/*Making the dropdown menu hidden*/
.accessibility-dropdown-content .dropdown-content .accessibility-options {
  background: var(--dark-black);
  display: none;
}

/*keeping the space around icons*/
.accessibility-dropdown-content .dropdown-content i {
  margin: 0.3em 0.41em;
}

/*Mobile Hamburger menu for tablet and mobile devices*/

/*Displaying the mobile menu */
.mobile-menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 2.8em;
  right: 1.2rem;
  width: 1.8em;
  height: 1.1em;
}

/*size of the menubar*/
.mobile-menu-toggle .menu-bar {
  height: 0.3em;
  width: 100%;
  background-color: var(--dark-black);
}

@media screen and (max-width: 570px) {
  /*fixed position for the hamburger menu*/
  .mobile-menu-toggle {
    display: flex;
  }

  /*hiding the links so it can be toggle*/
  .nav-links {
    width: 100%;
    display: none;
  }

  /*displaying the navigations link once its clicked*/
  .nav-links.active {
    display: flex;
  }

  /*stacking the links on top of eachother*/
  .nav-links ul {
    width: 100%;
    flex-direction: column;
  }

  /*aligning the links in the center*/
  .nav-links ul li {
    text-align: center;
  }

  /*creating a gap in between links*/
  .nav-links ul li a {
    padding: 0.5rem 1rem;
  }
  /* Chainging the color to white on dark background*/
  .main-navigation.fixed .mobile-menu-toggle .menu-bar {
    background-color: var(--almost-white);
  }

  @media screen and (max-width: 768px) {
    /*stacking the item on top of eachother*/
    .main-navigation {
      display: block;
    }
    /*aligning the text on top of menu bar*/
    .company-logo {
      text-align: center;
    }
  }
}

@media screen and (min-width: 570px) and (max-width: 1010px) {
  /*fixed position for the hamburger menu*/
  .mobile-menu-toggle {
    display: flex;
  }

  /*hiding the links so it can be toggle*/
  .nav-links {
    width: 100%;
    display: none;
  }

  /*displaying the navigations link once its clicked*/
  .nav-links.active {
    display: flex;
  }

  /*stacking the links on top of eachother*/
  .nav-links ul {
    width: 100%;
    flex-direction: column;
  }

  /*aligning the links in the center*/
  .nav-links ul li {
    text-align: center;
  }
  /*creating a gap in between links*/
  .nav-links ul li a {
    padding: 0.5rem 1rem;
  }

  /*changing the color to white*/
  .main-navigation.fixed .mobile-menu-toggle .menu-bar {
    background-color: var(--almost-white);
  }
}

/* Footer styling */
.footer {
  background: var(--dark-black);
  padding: 30px 0px;
  font-family: var(--main-heading);
  font-size: 1.2em;
  text-align: center;
}

/* General styling for h4 elements */
h4 {
  font-family: var(--main-heading);
  font-weight: 400;
  font-size: 0.73em;
  text-align: center;
  align-self: center;
}

/* Style for footer rows */
.footer .footer-row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: var(--almost-white);
  font-size: 0.8em;
}

/* Link styling in footer row */
.footer .footer-row a {
  text-decoration: none;
  color: var(--almost-white);
  transition: 0.5s;
}

/* Hover effect for links in footer row */
.footer .footer-row a:hover {
  color: var(--header-yellow);
}

/* Style for footer row list */
.footer .footer-row ul {
  width: 100%;
}

/* Style for list items in footer row */
.footer .footer-row ul li {
  display: inline-block;
  margin: 0px 30px;
}

/* Icon styling in footer row */
.footer .footer-row a i {
  font-size: 2em;
  margin: 0% 1%;
}

/* Responsive style for footer under 720px screen width */
@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }

  /* List items become block elements under 720px screen width */
  .footer .footer-row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }

  /* Adjusts the margin around icons for smaller screens */
  .footer .footer-row a i {
    margin: 0% 3%;
  }
}

/* Home Page styles */

/*Hero video with text on top-------*/

/* The Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal Content */
.modal-content {
  position: relative;
  top: 30%;
  margin: auto;
  padding: 20px;
  background-color: var(--almost-white);
  width: 50%;
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Close Button */
.close {
  color: var(--background-light);
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Close Button hover animation*/
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Main container for the hero video section */
.hero-video {
  position: relative;
  padding: 30px 0px 0px 0px;
  height: auto;
}

/* Positioning and layer index for the video element */
.hero-video video {
  position: relative;
  z-index: 0;
}

/* Styling the text overlay that appears on the video */
.video-text-overlay {
  background-color: rgba(35, 37, 54, 0.7);
  width: 100%;
  padding: 30px 10px 30px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  text-align: center;
}

/* Paragraph text styling within the video text overlay */
.video-text-overlay p {
  color: var(--almost-white);
  padding: 20px;
}

/* Button styling within the video text overlay */
.video-text-overlay button {
  background-color: var(--header-yellow);
  color: var(--dark-black);
}

/* Hover effect for buttons within the video text overlay */
.video-text-overlay button:hover {
  background-color: var(--dark-black);
  color: var(--almost-white);
}

/* Responsive style adjustments for screens less than 600px wide */
@media (max-width: 600px) {
  /* Updates the overlay for smaller screens */
  .video-text-overlay {
    background-color: rgba(35, 37, 54);
    width: 90%;
    position: relative;
    top: 145px;
    padding: 30px 0px 30px 0px;
  }

  /* Adjusts padding for paragraph elements within the form in overlay */
  .video-text-overlay form p {
    padding: 20px;
  }
}

/* Style for the subscribe section */
.subscribe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--almost-white);
  overflow: hidden; /* Add this to hide overflow */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  margin: 40px 0px 0px 0px;
}

.subscribe-container img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  /* padding: 0px 10px 0 10px; */
}

.subscribe-text {
  padding: 0px 40px 0 40px;
}

@media (max-width: 1000px) {
  .subscribe-container {
    display: block;
  }
  .subscribe-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0px 0px 20px 0px;
  }

  .subscribe-text {
    padding: 0px 40px 40px 40px;
    text-align: center;
  }
}

/* Style for the story section on homepage */

/* Style for the cards */

/* Main container for card elements */
.card-container {
  max-width: 100%;
  padding: 10px;
  margin: 20px;
  height: auto;
  text-align: center;
}

/* Heading for the cards section */
.cards-heading {
  font-size: 32px;
  text-align: center;
}

/* Horizontal card list container */
.cards {
  display: flex;
  padding: 25px 0;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

/* Individual card styling */
.card {
  max-width: 50% !important;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  flex: 0 0 100%;
  padding: 20px;
  background: var(--white);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
}

/* Container for card content */
.card-content {
  padding: 1px 2px 15px 2px;
  z-index: 1;
  max-width: 100%;
}

/* Paragraph styling within the card content */
.card-content p {
  padding-top: 140px;
}

/* Image styling within the card */
.card-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

/* Margin adjustment for all cards except the last one */
.card:not(:last-child) {
  margin-right: 10px;
}

/* Card hover effect */
.card:hover {
  color: var(--almost-white);
  background: var(--header-yellow);
}

/* Container for card link */
.card .card-link-wrapper {
  margin-top: auto;
}

/* Styling for the card link */
.card .card-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: var(--dark-black);
  padding: 6px 12px;
  border-radius: 8px;
  transition: background 0.2s;
}

/* Custom scrollbar styling */
.cards::-webkit-scrollbar {
  height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
  background: var(--dark-black);
}

.cards::-webkit-scrollbar-track {
  background: var(--thumb);
}

/* Media queries for responsive design */

/* Adjust card layout for mobile*/
@media (min-width: 500px) {
  .card {
    flex-basis: calc(50% - 10px);
  }

  .card:not(:last-child) {
    margin-right: 20px;
  }
  .card-content p {
    padding-top: 80%;
  }
}
@media screen and (max-width: 800px) {
  .card-text {
    text-align: center;
    padding-top: 20px;
    margin: 0px;
  }
}

@media (min-width: 700px) {
  .card {
    flex-basis: calc(calc(100% / 2) - 20px);
  }

  .card:not(:last-child) {
    margin: 0px 20px 0px 20px;
  }
  .card-content p {
    padding-top: 80%;
  }
}

@media (min-width: 900px) {
  .card {
    flex-basis: calc(35% - 40px);
  }

  .card:not(:last-child) {
    margin: 0px 20px 0px 20px;
  }
  .card-content p {
    padding-top: 80%;
  }
}

@media (min-width: 1200px) {
  .card {
    flex-basis: calc(25% - 30px);
  }

  .card:not(:last-child) {
    margin: 0px 20px 0px 20px;
  }
}

@media (min-width: 1400px) {
  .card {
    flex-basis: calc(25% - 60px);
  }

  .card:not(:last-child) {
    margin: 0px 40px 0px 40px;
  }
}

@media (min-width: 1600px) {
  .card {
    flex-basis: calc(25% - 50px);
  }

  .card:not(:last-child) {
    margin: 0px 35px 0px 35px;
  }

  .card-content p {
    padding-top: 75%;
  }
}

/* Style for the post-blocks section */
#post-blocks ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Add spacing between items */
}

#post-blocks li {
  width: 48%;
  /* Each item takes up 48% of the available width to allow for spacing */
  box-sizing: border-box;
  /* Include padding and border in the item's width */
  margin: 1%;
  /* Add margin between items */
  padding: 1%;
}

#post-blocks p {
  padding-bottom: 20px;
}

/* Style for the image and hover effect */
.imgover {
  display: block;
  position: relative;
  overflow: hidden;
}

.imgover img {
  max-width: 100%;
  /* Make sure the image doesn't exceed its container */
  transition: transform 0.3s;
  /* Add a smooth transition effect on hover */
}

.imgover:hover img {
  transform: scale(1.1);
  /* Enlarge the image on hover */
}

@media (max-width: 710px) {
  #post-blocks li {
    width: 100%;
    /* Each item takes up 48% of the available width to allow for spacing */
    box-sizing: border-box;
    /* Include padding and border in the item's width */
    margin: 2%;
    /* Add margin between items */
    padding: 2%;
  }
}
/* Container for the contact section, flex layout */
.contact-sec-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: var(--header-yellow);
  padding: 5%;
  text-align: left;
}

/* Styling for the heading within the contact section */
.contact-sec-container h1 {
  padding: 20px;
  color: var(--dark-black);
}

/* Responsive styles for screens up to 710px width */
@media (max-width: 710px) {
  .contact-sec-container {
    display: block;
    height: 300px;
    padding: 5%;
    text-align: center;
  }
}

/* code for news section */
/* Container that holds the news section */
.news-container {
  display: flex;
  background-color: var(--main-background);
  padding: 20px;
}

/* Left column that takes up 60% of the container */
.left-column {
  flex: 60%;
  background-color: var(--almost-white);
  margin: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Hover effect for left column */
.left-column:hover {
  transform: scale(1.01);
  transition: transform 0.4s;
}

/* Styles for the heading in the left column */
.left-column h1 {
  padding: 20px 40px 10px 40px;
}

/* Styles for the paragraph text in the left column */
.left-column p {
  padding: 0px 40px 10px 40px;
}

/* Container for images with decorative boxes */
.image-with-boxes {
  position: relative;
}

/* Pseudo-elements that create decorative boxes */
.image-with-boxes::before,
.image-with-boxes::after {
  content: '';
  position: absolute;
  height: 10px;
  bottom: 0;
}

/* Styling for the first decorative box */
.image-with-boxes::before {
  background-color: var(--dark-black);
  width: 30%;
  z-index: 1;
}

/* Styling for the second decorative box */
.image-with-boxes::after {
  background-color: var(--header-yellow);
  left: 30%;
  width: 70%;
}

/* Container for a section break, similar to image-with-boxes */
.section-breaker {
  position: relative;
  margin: 20px 0px 80px 0px;
}

/* Pseudo-elements for section-breaker */
.section-breaker::before,
.section-breaker::after {
  content: '';
  position: absolute;
  height: 10px;
  bottom: 0;
}

/* First box for section-breaker */
.section-breaker::before {
  background-color: var(--dark-black);
  width: 70%;
  z-index: 1;
}

/* Second box for section-breaker */
.section-breaker::after {
  background-color: var(--header-yellow);
  left: 70%;
  width: 30%;
}

/* Caption styles */
figcaption {
  font-family: var(--main-paragraph-text);
}

/* Image resizing for left and right columns */
.left-column img,
.right-column img {
  max-width: 100%;
  height: auto;
}

/* Styling for figure container within left column */
.left-column figure {
  margin: 0;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s;
}

/* Hover effect for images inside image-with-boxes */
.image-with-boxes img:hover {
  transform: scale(1);
}

/* Hover effect for figure element in left column */
.left-column figure:hover {
  transform: scale(1.1);
}

/* Transition effect for images in left column */
.left-column figure img {
  transition: transform 0.3s;
}

/* Hover effect for images in IE 9 and Safari 3-8 */
.left-column figure:hover img {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1);
}

/* Text color for h1 and p in left column */
.left-column h1,
p {
  color: var(--dark-black);
}

/* Styling for right column wrapper */
.right-column-wrapper {
  flex: 40%;
  height: 100%;
  background-color: var(--almost-white);
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

/* Existing right-column styles */
.right-column {
  flex: 1;
}

/* New column styles */
.new-column {
  flex: 1;
}

/* Repeating right-column styles (you might want to merge this with the existing one) */
.right-column {
  flex: 40%;
  height: 100%;
  background-color: var(--almost-white);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

/* Hover effect for right column */
.right-column:hover {
  transform: scale(1.01);
  transition: transform 0.4s;
}

/* Font size for h1 in right column */
.right-column h1 {
  font-size: 3vw;
}

/* Padding for h1 in right column */
.right-column h1 {
  padding: 0px 20px 0px 20px;
  color: var(--dark-black);
}

/* Padding for h3 in right column */
.right-column h3 {
  padding: 20px 20px 0px 20px;
}

/* Styling for paragraph text in right column */
.right-column p {
  padding: 20px 0px 20px 20px;
  display: inline;
  margin: 10px 0px 10px 0px;
}

/* Special styling for farmers tips in right column */
.farmers-tips {
  padding: 40px 0px 40px 0px;
}

/* Styling for hidden content in right column */
.hidden-content {
  padding: 0px 20px 20px 20px;
  font-family: var(--main-paragraph-text);
  line-height: 3.5vw;
  display: none;
  font-size: 0.6em;
}

/* Font size for paragraph and span in right column */
.right-column p,
span {
  font-size: 1.2vw;
}

/* Styling for the "Learn More" button */
.learn-more-button {
  cursor: pointer;
  color: var(--dark-black);
  text-decoration: underline;
  display: inline;
}

/* Styling for the expanded state of hidden content */
.expanded {
  display: flex;
}

/* Image container styles for multiple images */
.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  width: 100%;
}

/* Styling for each image within image container */
.image {
  width: 30%;
  text-align: center;
}

/* Image sizing and fit */
.image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Spacing for figcaption under each image */
.image figcaption {
  margin-top: 10px;
}

/* Media query for screens smaller than 800px */
@media (max-width: 800px) {
  /* Changes to news-container layout */
  .news-container {
    display: block;
    padding: 10px;
  }

  /* Left column becomes full width */
  .left-column {
    flex: 100%;
    margin: 0px 0px 20px 0px;
    text-align: center;
  }

  /* Right column becomes full width */
  .right-column {
    flex: 100%;
    margin-bottom: 20px;
    padding-bottom: 50px;
    text-align: center;
  }

  /* Font size changes for h1 and p in right column */
  .right-column h1 {
    font-size: 8vw;
  }

  .right-column p,
  span {
    font-size: 3vw;
  }

  /* Other responsive changes for smaller screens */
  .left-column figure {
    position: block;
  }

  .image-container {
    display: block;
  }

  .image {
    width: 100%;
  }

  figcaption {
    padding-bottom: 20px;
  }

  .section-breaker {
    padding: 0px 0px 20px 0px;
    width: 100%;
    text-align: left;
  }
}

/* about us */
.about-us {
  margin: 40px 0px -4px 0px;
}
.hero-container {
  position: relative;
  background-color: transparent;
  /* Set container to transparent */
  align-items: center;
  /* Hide content that overflows */
}

.white-box {
  position: absolute;
  left: 10%;
  top: 10%;
  background-color: var(--almost-white);
  width: 40%;
  height: 240%;
  padding: 30px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.white-box h2 {
  margin: 0;
}

.about-us-content {
  width: 46%;
  margin-left: 52%;
  margin-bottom: 5%;
  padding: 30px;
  color: var(--dark-black);
  /* Set text color to white */
}

.about-us-content p {
  margin: 0;
}

.hero-image {
  width: 90%;
  align-content: center;
  justify-content: center;
  margin: -5% 5% 0% 5%;
  /* Overlap the hero image by 10% */
  z-index: -1;
  /* Place the image below other content */
}

/* Create two equal columns that floats next to each other */
.intro-row {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  width: 100%;
  height: 200%;
  /* Use full width */
}

.intro-column-1,
.intro-column-2 {
  flex: 1;
  height: 340px;
  background-color: var(--header-yellow);
  color: var(--dark-black);
  padding: 20px;

  /* Center-align content */
}

.intro-column-1 {
  padding: 40px 0px 40px 40px;
  margin-left: 50px;
}

.intro-column-2 {
  padding: 40px 40px 40px 40px;
  margin-right: 50px;
}

.about-us-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--dark-black);
}

.about-us-image {
  max-width: 50%;
  height: auto;
  object-fit: cover;
  padding: 50px;
}

.aboutus-text {
  flex: 1;
  padding: 20px 20px; /* Add some spacing between text and image */
  color: var(--almost-white);
  border: 2px solid var(--header-yellow);
}

.aboutus-text h2 {
  margin: 0;
}

.aboutus-text p {
  margin: 10px 0;
  color: var(--almost-white);
}

/* Meet the team */

.meet-the-team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px;
}

.meet-the-team-container {
  position: relative;
  width: 220px;
  height: 220px;
  overflow: hidden;
  /* Add this to hide the overflow of the image */
}

.team-image {
  display: block;
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Maintain aspect ratio and cover the container */
}

.team-image-overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 0;
  height: 100%;
  transition: 0.5s ease;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  /* Square shape */
}

.meet-the-team-container:hover .team-image-overlay {
  width: 100%;
  left: 0;
}

.social-icon {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.social-icon a {
  color: white;
}
.social-icon h4 {
  color: white;
  font-size: 20px;
  text-align: left;
}

.social-icon p {
  color: white;
  font-size: 10px;
  text-align: left;
  padding-bottom: 20px;
}
.fa-user:hover {
  color: #eee;
}

/* Customer feedback */

.customer-review-section {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  width: 100%;
  background-color: var(--header-yellow);
  color: var(--dark-black);
}

.customer-review-left {
  flex: 1;
  padding-right: 20px;
  color: var(--dark-black);
}

.customer-review-left p {
  color: var(--dark-black);
}

.customer-review-left h2 {
  margin: 0;
}

.customer-description {
  width: 100%;
  margin-top: 20px;
}

.customer-review-right {
  flex: 1;
  width: 50%;
}

.customer-review-right p {
  color: var(--dark-black);
}

.carousel {
  display: flex;
  flex-direction: column;
  color: var(--dark-black);
}

.feedback {
  border: 1px solid var(--dark-black);
  padding: 20px;
  margin-bottom: 20px;
}

.feedback h3 {
  margin: 0;
}

.customer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.customer-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.customer-image img {
  width: 100%;
  height: auto;
}

.customer-name {
  margin: 0;
}

/* About us Subscribers */

.join-our-team {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  margin: 40px;
}

.team-container button {
  margin: 20px 0px 20px 0px;
}

@media only screen and (max-width: 768px) {
  .about-us {
    margin: 33px 0px -4px 0px;
  }
  .white-box {
    left: 5%;
    top: 5%;
    width: 90%;
    height: auto; /* Let the height adjust automatically */
    text-align: center;
  }

  .about-us-content {
    width: 100%;
    margin-left: 0;
    padding: 330px 20px 40px 20px;
    text-align: center;
    background-color: var(--dark-black);
    color: var(--almost-white);
  }

  .content p {
    color: var(--almost-white);
  }

  .hero-image {
    width: 100%;
    margin: -28px 0px 0px 0px;
  }

  .intro-row {
    flex-direction: column;
    width: 100%; /* Stack the columns vertically */
  }

  .intro-column-1,
  .intro-column-2 {
    width: 100%;
    height: auto; /* Let the height adjust automatically */
    padding: 20px;
    margin: 10px 0;
    text-align: center;
  }

  .about-us-container {
    flex-direction: column-reverse;
  }

  .about-us-image,
  .aboutus-text {
    width: 100%; /* Make them take full width */
  }

  .about-us-image {
    order: 2;
    max-width: 100%;
    padding: 20px 0px 20px 0px;
  }

  .aboutus-text {
    order: 1;
    padding: 10px;
  }

  .meet-the-team {
    flex-direction: row;
    align-items: center;
  }

  .meet-the-team-container {
    margin: 20px 40px 20px 40px;
  }

  .customer-review-section {
    flex-direction: column;
  }

  .customer-review-left,
  .customer-review-right {
    padding: 10px;
    width: 100%;
  }

  .sub-newsletter {
    flex-direction: column;
  }

  .sub-container button {
    margin: 10px 0; /* Adjusted for vertical layout */
  }
}

@media only screen and (max-width: 600px) {
  .about-us-content {
    padding: 400px 20px 40px 20px;
  }

  .meet-the-team {
    padding: 0px;
  }

  .meet-the-team-container {
    margin: 15px;
  }
}

/* Contact-Us */

/* The .sub-newsletter class styles a newsletter subscription container.
   The container is designed as a flexbox for better alignment and justification of child elements. */
.sub-newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  margin: 80px 0px 60px 0px;
}

/* The .sub-container button class adds margin to buttons within a sub-container */
.sub-container button {
  margin: 20px 0px 20px 0px;
}

/* The .subsection-img class is for adding padding above images in subsections */
.subsection-img {
  padding-top: 20px;
}

/* The .timing-row class styles a row for displaying timing information.
   The row is set as a flex container to center child elements both horizontally and vertically. */
.timing-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* The .timing-column-1 and .timing-column-2 classes are for styling individual columns
   within the timing row. They each take up half the width of the row. */
.timing-column-1,
.timing-column-2 {
  flex: 1;
  height: 300px;
  width: 50%;
}

/* Additional padding adjustments for .timing-column-1 */
.timing-column-1 {
  padding: 40px 20px 0px 128px;
}

/* Additional padding adjustments for .timing-column-2 */
.timing-column-2 {
  padding: 40px 128px 0px 20px;
}

/* The .contact-form class styles a contact form.
   It sets the flex direction to column and aligns the items to the start. */
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5%;
}

/* The .contact-form input class styles the input fields within the contact form.
   It sets the width, padding, margin, border, border-radius and font family. */
.contact-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  font-family: var(--main-paragraph-text);
}

/* Media Queries for Responsiveness */

/* The @media (max-width: 768px) section adjusts styles for screens narrower than 768 pixels */
@media (max-width: 768px) {
  /* Adjust the contact form width and padding for small screens */
  .contact-form {
    width: 100%;
    padding: 20px 20px 20px 20px;
  }

  /* For smaller screens, timing-row changes its display property to block */
  .timing-row {
    display: block;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  /* Adjust padding and margins for timing columns on small screens */
  .timing-column-1 {
    padding: 40px 0px 10px 20px;
    margin-left: 10px;
    width: 100%;
  }

  .timing-column-2 {
    padding: 40px 0px 40px 20px;
    width: 100%;
    margin-left: 10px;
  }

  /* Adjust height of timing columns for small screens */
  .timing-column-1,
  .timing-column-2 {
    flex: 1;
    height: 200px;
  }
}
/* The .farmers-hero-image class sets the width of the hero image to 100% */
.farmers-hero-image {
  width: 100%;
}

/* The .tips-container class styles a container that holds tips.
   It uses a flexbox to center-align the content and sets the border style, padding, and color. */
.tips-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden; /* Hide any overflow content */
  color: var(--dark-black);
  padding: 20px;
  border-style: dotted solid dotted solid;
}

/* The .tips-container img class styles images within the tips container, setting their width and height. */
.tips-container img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

/* The .tip-text class adds padding to the tip text elements within the tips container. */
.tip-text {
  padding: 0px 40px 0 40px;
}

/* The .tip-text button class adds top margin to buttons inside the .tip-text container */
.tip-text button {
  margin: 20px 0px 0px 0px;
}

/* The .farmers-hero-section class styles a hero section, defining its position and padding. */
.farmers-hero-section {
  position: relative;
  padding: 30px 0px 0px 0px;
  height: auto;
}

/* The .hero-img img class styles hero images, setting their position and z-index */
.hero-img img {
  position: relative;
  z-index: 0;
}

/* The .farmerimg-text-overlay class styles a text overlay on farmer images,
   setting its background color, position, padding, and font settings */
.farmerimg-text-overlay {
  background-color: rgba(35, 37, 54, 0.7);
  width: 100%;
  padding: 30px 10px 30px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  text-align: center;
  font-family: var(--main-paragraph-text);
}

/* Styling paragraphs within the .farmerimg-text-overlay class */
.farmerimg-text-overlay p {
  color: var(--almost-white);
  padding: 20px;
}

/* Styling button within the .farmerimg-text-overlay class */
.farmerimg-text-overlay button {
  background-color: var(--header-yellow);
  color: var(--dark-black);
}

/* Adding hover effect to the button within the .farmerimg-text-overlay class */
.farmerimg-text-overlay button:hover {
  background-color: var(--dark-black);
  color: var(--almost-white);
}

/* Media queries for responsiveness */

/* Adjusting .farmerimg-text-overlay styles for screens narrower than 600px */
@media (max-width: 600px) {
  .farmerimg-text-overlay {
    background-color: rgba(35, 37, 54);
    width: 90%;
    position: relative;
    top: 145px;
    padding: 30px 0px 30px 0px;
  }

  /* Adjusting paragraph and h1 padding within .farmerimg-text-overlay */
  .farmerimg-text-overlay p,
  h1 {
    padding: 0px 30px 0px 0px;
  }
}

/* Adjusting .tips-container and children for screens narrower than 970px */
@media only screen and (max-width: 970px) {
  .tips-container {
    flex-direction: column;
  }

  .tips-container img {
    order: 1;
    width: 100%;
    height: auto;
  }

  .tip-text {
    order: 2;
    padding: 40px;
    text-align: center;
  }
}

/* The .tractor-logo class sets the width of the tractor logo to 10% */
.tractor-logo {
  width: 10%;
}
